Import the libaries and then Scrape the HTML table to a dataframe

In [40]:
import lxml.html as lh
import pandas as pd

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
scrape_source = pd.read_html(url)

df_temp=scrape_source[0]

df_temp.sort_values(by='Postal Code',inplace=True)

Now clean the dataframe to remove unwanted values, rename columns and concatenate duplicate instances of the PostalCode values

In [41]:
df_subs = df_temp[["Postal Code","Borough","Neighbourhood"]]

df_subs.rename(columns ={"Postal Code":"PostalCode"},inplace=True)

df_subs.drop(df_subs.loc[df_subs['Borough']=="Not assigned"].index, inplace=True)

df_subs=df_subs.groupby(['PostalCode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()

Make sure there are no instances of Not Assigned in the Neighbourhood col

In [45]:
df_subs[df_subs.Neighbourhood == "Not assigned"].shape[0]

0

Report the count of rows in the final table

In [47]:
df_subs.shape

(103, 3)

Show the first 5 rows of the final table

In [49]:
df_subs.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae